*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  ;
  background-color: rgb(56, 57, 57);
  color: rgb(240, 227, 231);
  width: 100%;
  height: 100%;
}

.parent{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  text-align: center;
  border: 1px solid rgb(219, 207, 207);
  padding: 20px;
margin: 20px 20px;
border-radius: 5px;
background-color: #222;
}
 .card button{
  padding: 8px  ;
  margin-top: 4px;
  color: aliceblue;
  background-color: rgba(19, 126, 176, 0.763);
  border-radius: 5px;
border: none;
}

.card p{
  padding: 10px ;
  margin: 10px;
}

.card img{
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;

}