* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #201f1f;
  color: white;
}

.card {
  border: 1px solid white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: #5c1414;
}


.navbar {
  background-color: #333;
  color: white;
  padding: 12px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}
